@use './base/fonts';

* {
  font-family: 'Roboto', sans-serif;
}

html {
  background: url('../afbeeldingen/background.jpg') no-repeat;
  background-size: cover;
}
body {
  height: 100%;
}

#buttonHover:active {
  background-color: #7094c0;
}
#buttonHoverAnnuleer:active {
  background-color: rgb(161, 53, 53);
}

a {
  text-decoration: none;
  color: #2baaaa;
}

a:hover {
  color: #3cf0f0;
}

.IconDropDown:hover {
  background-color: #2baaaa;
}

hr {
  margin: 0;
  background-color: #3cf0f0;
  height: 1px;
  border: 0;
}

input {
  color: black;
  outline: none;
  background: white;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  border: none;
}
th {
  color: #00326f;
  font-size: 20px;
  padding: 10px;
  background-color: #3cf0f0;
}

td {
  color: white;
  padding: 10px;
}

#borderL {
  border-top-left-radius: 10px;
}
#borderR {
  border-top-right-radius: 10px;
}
